# REST ------------------------------------------------------------------------
flask
requests
werkzeug

# gRPC ------------------------------------------------------------------------
grpcio
grpcio-tools==1.60.0
protobuf==4.21.6

# tools ------------------------------------------------------------------------
pyyaml

# deepsort base
opencv-python==4.2.0.34
scipy==1.4.1
numpy==1.18.2